# Conditional Statements

In [2]:
if True:                 #indentation is always 4 space
    print('Data Science')

Data Science

In [4]:
if False:
    print('Data Science')
print('Bye for now')

Bye for now

In [6]:
if True:
    print('Data Science')
print('Bye for now')

Data Science
Bye for now

In [14]:
#Code-1 : number is odd or even

x=4
r=x%2

if r==0:
    print('Number is even')

Number is even

In [18]:
x=5
r=x%2

if r==0:
    print('Number is even')
print('Number id Odd')

Number id Odd

In [20]:
x=6
r=x%2

if r==0:
    print('Number is Even')
print('Number is Odd')

Number is Even
Number is Odd

In [22]:
x=13
r=x%2

if r==0:
    print('Even number')

if r!=0:
    print('Odd number')

Odd number

In [24]:
x=19
r=x%2

if r==0:
    print('Even number')

if r==1:
    print('Odd number')

Odd number

In [34]:
x=3
r=x%2

if r==0:
    print('Even number')
    if x>5:
        print('Greater number')
else:
    print('Odd number')

Odd number

In [36]:
x=8
r=x%2

if r==0:
    print('Even number')
    if x>5:
        print('Greater number')
else:
    print('Odd number')

Even number
Greater number

In [38]:
x=4
r=x%2

if r==0:
    print('Even number')
    if x>5:
        print('Greater number')
else:
    print('Odd number')

Even number

In [40]:
x=4
r=x%2

if r==0:
    print('Even number')
    if x>5:
        print('Greater number')
    else:
        print('Smaller number')

else:
    print('Odd number')

Even number
Smaller number

# if-elif-else

In [44]:
x=9

if x==1:
    print('One')
elif x==2:
    print('Two')
elif x==3:
    print('Three')
elif x==4:
    print('Four')
else:
    print('Number not found')

Number not found

# Loops

In [47]:
i=1                         #initializing
while i<=5:                 #condition
    print('Data Science')
    i=i+1                   #increment

Data Science
Data Science
Data Science
Data Science
Data Science

In [49]:
i=1
while i<=5:
    print('Data Science : ',i)
    i=i+1

Data Science :  1
Data Science :  2
Data Science :  3
Data Science :  4
Data Science :  5

In [51]:
i=5
while i>=1:
    print('Data Science : ',i)
    i=i-1

Data Science :  5
Data Science :  4
Data Science :  3
Data Science :  2
Data Science :  1

In [53]:
i=1
while i<=5:
    print('Data Science')
    j=1
    while j<=4:
        print('Technology')
        j=j+1

    i=i+1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [59]:
i=1
while i<=5:
    print('Data Science',end=' ')
    j=1
    while j<=4:
        print('Technology',end=' ')
        j=j+1

    i=i+1
    print()

Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology

In [3]:
i=1

while i<=2:
    j=0
    while j<=2:
        print(i*j,end=' ')
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [5]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=' ')
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [7]:
name='nit'
for i in name:
    print(i)

n
i
t

In [9]:
name1= [1,3.5,'hello']
for i in name1:
    print(i)

1
3.5
hello

In [11]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [13]:
range(5)

range(0, 5)

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(2,5):
    print(i)

2
3
4

In [19]:
for i in range(1,10,3):
    print(i)

1
4
7

In [21]:
for i in range(1,21):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [23]:
for i in range(1,51):   #nos divisible by 5
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [25]:
for i in range(1,51):  #nos. not divisible by 5
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

# break
- end the loop
# continue
- skips 1 step/iteration during loop

In [49]:
x=int(input('How many Chocolates u want:?'))
i=1
while i<=x:
    print('chocolate')
    i+=1

How many Chocolates u want:? 6

chocolate
chocolate
chocolate
chocolate
chocolate
chocolate

In [30]:
avlbl=5
x=int(input('How many chocolates u want:?'))
i=1
while i<=x:
    print('chocolate')
    i+=1

How many chocolates u want:? 7

chocolate
chocolate
chocolate
chocolate
chocolate
chocolate
chocolate

In [32]:
avlbl= 5   #machine has only 5 chocolates
x=int(input('How many chocolates u want:?'))
i=1
while i<=x:
    if i>avlbl:
        break
    print('chocolate')
    i+=1

print('Bye for now')

How many chocolates u want:? 6

chocolate
chocolate
chocolate
chocolate
chocolate
Bye for now

In [34]:
avlbl=5
x=int(input('How many chocolates u want:?'))
i=1
while i<=x:
    if i>avlbl:
        print('out of stock')
        break
    print('chocolate')
    i+=1

print('bye for now')

How many chocolates u want:? 6

chocolate
chocolate
chocolate
chocolate
chocolate
out of stock
bye for now

In [38]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [40]:
#i don't want 11, i want only 5 no. for range 1 to 10
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [44]:
for i in range(1,11):
    if i==3:
        continue       #skips 1 step in loop
    print(i)

1
2
4
5
6
7
8
9
10

In [46]:
for i in range(1,11):
    if i==6:
        continue          
    print('Hello : ',i)

Hello :  1
Hello :  2
Hello :  3
Hello :  4
Hello :  5
Hello :  7
Hello :  8
Hello :  9
Hello :  10

# pass
- pass the code

In [54]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [58]:
for i in range(1,11):
    pass

In [62]:
for i in range(1,51):
    if i%3==0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [64]:
for i in range(1,51):
    if i%3==0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [66]:
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [70]:
for i in range(1,50):
    if i%3==0 and i%5==0:
        continue
    print(i)
print('end')    #values which is divisible by both 3 & 5 will not print

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
end

In [72]:
for i in range(1,51):
    if (i%2==0):     
        continue       #only print odd numbers
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

# Patterns

In [75]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [77]:
for i in range(1,5):
    i=i+1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [79]:
for j in range(4):
    print('#')

#
#
#
#

In [81]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [83]:
for j in range(4):
    print('#',end=' ')

# # # #

In [85]:
for j in range(4):
    print('#',end =' ')

for j in range(4):
    print('#',end =' ')

# # # # # # # #

In [87]:
for j in range(4):
    print('#',end=' ')
print()

for j in range(4):
    print('#',end=' ')

# # # #
# # # #

In [89]:
for j in range(4):
    print('#',end=' ')
print()
for j in range(4):
    print('#',end=' ')
print()
for j in range(4):
    print('#',end=' ')
print()
for j in range(4):
    print('#',end=' ')
print()

# # # #
# # # #
# # # #
# # # #

In [91]:
for i in range(4):
    for j in range(4):
        print('#',end =' ')
    print()

# # # #
# # # #
# # # #
# # # #

In [93]:
for i in range(4):
    for j in range(i+1):
        print('#',end=' ')
    print()

#
# #
# # #
# # # #

In [97]:
for i in range(1,5):
    print('# '*i)

#
# #
# # #
# # # #

In [101]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print('#',end=' ')
    print()

#
# #
# # #
# # # #

In [103]:
list(range(5))

[0, 1, 2, 3, 4]

In [105]:
for i in range(4):
    for j in range(i):
        print('#',end=' ')
    print()

#
# #
# # #

In [107]:
for i in range(4):
    for j in range(4-i):
        print('#',end=' ')
    print()

# # # #
# # #
# #
#

In [109]:
for i in range(1,5):
    print('# '*(5-i))

# # # #
# # #
# #
#

# for else

# Task 50 que on conditional statement

In [68]:
# 1.check no is even or odd
x=23
if x%2==0:
    print('Even')

else:
    print('Odd')

Odd

In [72]:
# 2.check if a person is eligible for vote
age=20
if age>18:
    print('Eligible for vote')

else:
    print('Not eligible for vote')

Eligible for vote

In [78]:
# 3.year is leap or not
year=2003
if year%4==0:
    print('Leap year')

else:
    print('Not leap year')

Not leap year

In [86]:
# 4.Check no. is +ve,-ve,0
no=5
if no>0:
    print('Positive')

elif no<0:
    print('Negative')

else:
    print('Zero')

Positive

In [90]:
# 5.program to find greatest of 2 nos
n1=4
n2=5

if n1>n2:
    print('n1 is greatest')
else:
    print('n2 is greatest')

n2 is greatest

In [ ]:
# 6.determine if no. is multiple of 5

In [100]:
# 7.check character is constant or vowel
ch='e'

if ch=='a'| ch=='e'| ch=='i'|ch=='o'| ch=='u':
    print('vowel')

else:
    print('constant')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [102]:
# 8.determine if person is eligible for senior citizen discount(age=60+)
age=61

if age>=60:
    print('Eligible for senior citizen discount')

else:
    print('Not Eligible for senior citizen discount')

Eligible for senior citizen discount

In [ ]:
#9.check if no is single-digit no.

In [ ]:
#10.print 'good morning' if time is before 12pm otherwise print 'good afternoon'
time =1pm

if time

In [110]:
#11.check if string is empty or not
str='abc'

if str=='':
    print('Empty string')
else:
    print('Not empty')

Not empty

In [ ]:
#12.verify a no is perfect square

In [120]:
#13.determine no is between 1 to 100
no=67

if no>=1 & no<=100:
    print('No is between 1 to 100')

else:
    print('No is not in between 1 to 100')

No is between 1 to 100

In [126]:
#14.print 'weekend' if day is saturday or sunday; otherwise print 'weekday'
day='sunday'

if day=='sunday' | 'saturday':
    print('Weekend')

else:
    print('Weekday')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [128]:
#15.Find if given no is exactly divisible by both 3 & 7
no=45

if no%3==0 & no%7==0:
    print('No is divisible by 3 & 7')

else:
    print('No is not divisible by 3 or 7')

No is divisible by 3 & 7

In [136]:
#16.check if sum of 2 nos. is greater than 100
num1=54
num2=94

if num1+num2>=100:
    print('sum is greater than 100')

else:
     print('sum is less than 100')

sum is greater than 100

In [138]:
#17.program to find minimum of 2 nos
num1=2
num2=3

if num1>num2:
    print('num2 is min')

else:
    print('num1 is min')

num1 is min

In [144]:
# #18.check if no is divisible by 2 but not by 3
# no=2
# if no%2==0 & no%3!=0:
#     print('no is divisible by 2 but not by 3')

# else:
#     print('no is not divisible by 2 or 3')

no is not divisible by 2 or 3

In [ ]:
#19.check alphabet is uppercase or lowercase

In [ ]:
#20.check if triangle is valid given 3 sides length
side1=

In [150]:
#21. find largest of three nos

a=3
b=4
c=5
if a>b & a>c:
    print(a,'is largest no')

elif b>a & b>c:
    print(b,'is largest no')

else:
    print(c,'is largest no')

5 is largest no

In [ ]:
#22.Determine if a number is a prime number

In [162]:
#23.Check if person is eligible for driving license(age 18+, passed driving test).

age=20
test='pass'

if age>18 & test=='pass':
    print('Eligible for driving license')

else:
    print('Not eligible for driving license')

TypeError: unsupported operand type(s) for &: 'int' and 'str'

In [ ]:
#24.determine whether a triangle is equilateral, isosceles, or scalene.

side1=4
side2=5
side3=4

if side1==side2==side3:
    print('Equilateral triangle')

if side1==side2 & side1!=side3

In [164]:
#25.Determine if student passes or fails based on a passing mark of 40

marks=80

if marks>=40:
    print('Pass')

else:
    print('Fail')

Pass

In [ ]:
#26.Check if a number is a palindrome (same forward and backward).

no=454

In [168]:
# #27.Calculate the electricity bill based on consumption: ₹5 per unit for the first 100 units, ₹10 per unit for the next 200, ₹15 per unit for anything above 300 units.
# units=120

# if units<100:
#     print(units*5)

# elif units>=100 & units<200:
#     print(units*10)

# elif units>=200:
#     print(units*15)

1200

In [185]:
# #28.Find the grade of a student based on marks 

# marks=1

# if marks>=90 & marks<100:
#     print('A grade')

# elif marks>=80 & marks<=89:
#     print('B+ grade')

# elif marks>=70 & marks<=79:
#     print('B grade')

# elif marks>=60 & marks<=69:
#     print('C+ grade')

# elif marks>=50 & marks<=59:
#     print('C grade')

# else:
#     print('Fail')

A grade

In [ ]:
#29. Determine if a given date is valid (considering month length and leap year for February).

In [193]:
# #30. Check if a given time is AM or PM.
# Time=13

# if Time>=1 & Time<=12:
#     print('AM')

# else:
#     print('PM')

AM

In [ ]:
#31.Check if a number is an Armstrong number (sum of its digits raised to the power of the number of digits equals the number).

In [ ]:
#32.Determine the type of quadrilateral based on given angles and sides.

In [ ]:
#33.Implement a basic calculator that takes two numbers and an operation (+, -, *, /).

In [195]:
#34. Check if a bank account balance is sufficient for withdrawal.

balance=6000

if balance>5000:
    print('Balance is sufficient for withdrawl')

else:
     print('Balance is insufficient for withdrawl')

Balance is sufficient for withdrawl

In [ ]:
#35. Implement a simple temperature converter (Celsius to Fahrenheit and vice versa).

In [5]:
#36.program to check if number lies within a specific range (e.g., between 50 and 100).

no=88

if no>=50 and no<=100:
    print('No. lies in between 50 to 100')

else:
     print('No. not lies in between 50 to 100')

No. lies in between 50 to 100

In [ ]:
#37. Determine if a given year is a century year (ends in 00).

In [ ]:
#38. Check if a given integer is a power of 2.

In [ ]:
#39. Determine whether a given month has 31, 30, or 28 days.

In [ ]:
#40. Validate a password (must be at least 8 characters long and contain both numbers and letters